
.letraprincipal {
	font-family: 'Montserrat', sans-serif;

}


.imgpequenia {
		width: 100px;
		height: 100px;

}

body {
	background-color: #302C36;
	color: #948383;
}


.imagenhome {
	margin: 0 auto
}

.logo {
	width: 140px;
  height: 140px;
}

.contenedor {
background-color: #6A5ACD;
padding: center-block;

}

footer {
	text-align: center;
	background-color: #302C36;

}

h3 {

	color: #white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
